<!DOCTYPE html>
<html lang="en">

<head>
	<title>404 Error</title>
	<link type="text/css" rel="stylesheet" href="error/font.css" />
	<link type="text/css" rel="stylesheet" href="error/style.css" />
</head>

<body>
	<div id="notfound">
		<div class="notfound"><img src="https://d3e54v103j8qbb.cloudfront.net/static/page-not-found.211a85e40c.svg"
				width="47" height="59" alt="" class="_404_img">
			<h1>404</h1>
			<h2>Page Not Found.</h2>
			<a href="/">Back To Main</a>
		</div>
	</div>
</body>

</html>