:root,
[data-bs-theme=light] {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #e65729;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #111418;
    --bs-white: #ffffff;
    --bs-gray: #6e7985;
    --bs-gray-dark: #313c47;
    --bs-gray-100: #f8f9fc;
    --bs-gray-200: #f3f5f9;
    --bs-gray-300: #e2e5ec;
    --bs-gray-400: #ccd2da;
    --bs-gray-500: #9ea7b1;
    --bs-gray-600: #6e7985;
    --bs-gray-700: #41505f;
    --bs-gray-800: #313c47;
    --bs-gray-900: #212830;
    --bs-primary: #3659cd;
    --bs-secondary: #5c646c;
    --bs-danger: #c74115;
    --bs-success: #3d8642;
    --bs-info: #2f60a3;
    --bs-warning: #9e6419;
    --bs-light: #f3f5f9;
    --bs-dark: #6e7985;
    --bs-primary-rgb: 54, 89, 205;
    --bs-secondary-rgb: 92, 100, 108;
    --bs-danger-rgb: 199, 65, 21;
    --bs-success-rgb: 61, 134, 66;
    --bs-info-rgb: 47, 96, 163;
    --bs-warning-rgb: 158, 100, 25;
    --bs-light-rgb: 243, 245, 249;
    --bs-dark-rgb: 110, 121, 133;
    --bs-primary-text-emphasis: #162452;
    --bs-secondary-text-emphasis: #25282b;
    --bs-success-text-emphasis: #18361a;
    --bs-info-text-emphasis: #132641;
    --bs-warning-text-emphasis: #3f280a;
    --bs-danger-text-emphasis: #501a08;
    --bs-light-text-emphasis: #41505f;
    --bs-dark-text-emphasis: #41505f;
    --bs-primary-bg-subtle: #d7def5;
    --bs-secondary-bg-subtle: #dee0e2;
    --bs-success-bg-subtle: #d8e7d9;
    --bs-info-bg-subtle: #d5dfed;
    --bs-warning-bg-subtle: #ece0d1;
    --bs-danger-bg-subtle: #f4d9d0;
    --bs-light-bg-subtle: #fcfcfe;
    --bs-dark-bg-subtle: #ccd2da;
    --bs-primary-border-subtle: #afbdeb;
    --bs-secondary-border-subtle: #bec1c4;
    --bs-success-border-subtle: #b1cfb3;
    --bs-info-border-subtle: #acbfda;
    --bs-warning-border-subtle: #d8c1a3;
    --bs-danger-border-subtle: #e9b3a1;
    --bs-light-border-subtle: #f3f5f9;
    --bs-dark-border-subtle: #9ea7b1;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 17, 20, 24;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 0.9rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #2e323c;
    --bs-body-color-rgb: 46, 50, 60;
    --bs-body-bg: #ffffff;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-emphasis-color: #111418;
    --bs-emphasis-color-rgb: 17, 20, 24;
    --bs-secondary-color: rgba(46, 50, 60, 0.75);
    --bs-secondary-color-rgb: 46, 50, 60;
    --bs-secondary-bg: #f3f5f9;
    --bs-secondary-bg-rgb: 243, 245, 249;
    --bs-tertiary-color: rgba(46, 50, 60, 0.5);
    --bs-tertiary-color-rgb: 46, 50, 60;
    --bs-tertiary-bg: #f8f9fc;
    --bs-tertiary-bg-rgb: 248, 249, 252;
    --bs-heading-color: inherit;
    --bs-link-color: #3659cd;
    --bs-link-color-rgb: 54, 89, 205;
    --bs-link-decoration: underline;
    --bs-link-hover-color: #2b47a4;
    --bs-link-hover-color-rgb: 43, 71, 164;
    --bs-code-color: #d63384;
    --bs-highlight-color: #2e323c;
    --bs-highlight-bg: #fff3cd;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #e8ebf4;
    --bs-border-color-translucent: rgba(17, 20, 24, 0.175);
    --bs-border-radius: 0.2rem;
    --bs-border-radius-sm: 0.1rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-xxl: 2rem;
    --bs-border-radius-2xl: var(--bs-border-radius-xxl);
    --bs-border-radius-pill: 50rem;
    --bs-box-shadow: 0 0.5rem 1rem rgba(17, 20, 24, 0.15);
    --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(17, 20, 24, 0.075);
    --bs-box-shadow-lg: 0 1rem 3rem rgba(17, 20, 24, 0.175);
    --bs-box-shadow-inset: inset 0 1px 2px rgba(17, 20, 24, 0.075);
    --bs-focus-ring-width: 0.25rem;
    --bs-focus-ring-opacity: 0.25;
    --bs-focus-ring-color: rgba(54, 89, 205, 0.25);
    --bs-form-valid-color: #3d8642;
    --bs-form-valid-border-color: #3d8642;
    --bs-form-invalid-color: #c74115;
    --bs-form-invalid-border-color: #c74115
}
*,
*::before,
*::after {
    box-sizing: border-box
}

@media(prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth
    }
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(17, 20, 24, 0)
}
h6,.h6,h5,.h5,h4,.h4,h3,.h3,h2,.h2,h1,.h1 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--bs-heading-color)
}
h5,.h5 {
    font-size: 1.125rem
}
a {
    color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    text-decoration: underline
}
label {
    display: inline-block
}

button {
    border-radius: 0
}
input,button,select,optgroup,textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,select {
    text-transform: none
}

button:not(:disabled),[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled) {
    cursor: pointer
}
.container,.container-fluid,.container-xxl,.container-xl,.container-lg,.container-md,.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-right: auto;
    margin-left: auto
}

@media(min-width: 576px) {
    .container-sm,
    .container {
        max-width: 540px
    }
}

@media(min-width: 768px) {
    .container-md,
    .container-sm,
    .container {
        max-width: 720px
    }
}

:root {
    --bs-breakpoint-xs: 0;
    --bs-breakpoint-sm: 576px;
    --bs-breakpoint-md: 768px;
    --bs-breakpoint-lg: 992px;
    --bs-breakpoint-xl: 1200px;
    --bs-breakpoint-xxl: 1400px
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1*var(--bs-gutter-y));
    margin-right: calc(-0.5*var(--bs-gutter-x));
    margin-left: calc(-0.5*var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)*.5);
    padding-left: calc(var(--bs-gutter-x)*.5);
    margin-top: var(--bs-gutter-y)
}
.col-12 {
    flex: 0 0 auto;
    width: 100%
}
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #111418;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    border: var(--bs-border-width) solid #ccd2da;
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.form-control::placeholder {
    color: var(--bs-secondary-color);
    opacity: 1
}
.form-check {
    display: block;
    min-height: 1.35rem;
    padding-left: 1.5em;
    margin-bottom: .125rem
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em
}
.form-check-input {
    --bs-form-check-bg: var(--bs-body-bg);
    flex-shrink: 0;
    width: 1em;
    height: 1em;
    margin-top: .25em;
    vertical-align: top;
    appearance: none;
    background-color: var(--bs-form-check-bg);
    background-image: var(--bs-form-check-bg-image);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: var(--bs-border-width) solid var(--bs-border-color);
    print-color-adjust: exact
}
.form-check-input:focus {
    border-color: #9bace6;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(54,89,205,.25)
}

.form-check-input:checked {
    background-color: #3659cd;
    border-color: #3659cd
}

.form-check-input:checked[type=checkbox] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e")
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23ffffff'/%3e%3c/svg%3e")
}

.form-check-input[type=checkbox]:indeterminate {
    background-color: #3659cd;
    border-color: #3659cd;
    --bs-form-check-bg-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e")
}

.form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: .5
}

.form-check-input[disabled]~.form-check-label,.form-check-input:disabled~.form-check-label {
    cursor: default;
    opacity: .5
}
.form-check-input[type=checkbox] {
    border-radius: .25em
}
.form-check-inline {
    display: inline-block;
    margin-right: 1rem
}
.btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 0.9rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: transparent;
    --bs-btn-border-width: var(--bs-border-width);
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: var(--bs-border-radius);
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(17, 20, 24, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.btn-primary {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #3659cd;
    --bs-btn-border-color: #3659cd;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #2e4cae;
    --bs-btn-hover-border-color: #2b47a4;
    --bs-btn-focus-shadow-rgb: 84, 114, 213;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #2b47a4;
    --bs-btn-active-border-color: #29439a;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(17, 20, 24, 0.125);
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #3659cd;
    --bs-btn-disabled-border-color: #3659cd
}
.btn-lg,.btn-group-lg>.btn {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.125rem;
    --bs-btn-border-radius: var(--bs-border-radius-lg)
}
.d-grid {
    display: grid !important
}
.border {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important
}
.justify-content-center {
    justify-content: center !important
}
.my-5 {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important
}
.mt-5 {
    margin-top: 3rem !important
}
.mb-3 {
    margin-bottom: 1rem !important
}
.mb-5 {
    margin-bottom: 3rem !important
}
.ms-2 {
    margin-left: .5rem !important
}
.p-4 {
    padding: 1.5rem !important
}
.py-3 {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important
}
.pt-4 {
    padding-top: 1.5rem !important
}
.fw-bold {
    font-weight: 700 !important
}
.text-center {
    text-align: center !important
}
.text-decoration-underline {
    text-decoration: underline !important
}
.rounded-2 {
    border-radius: var(--bs-border-radius) !important
}
